<div class="reports-container">
  <h2>รายงานยอดขาย</h2>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>    
            @for (order of saleReports; track order.id) {
                @for (items of order.items; let i = $index; track items.product) {
                    <tr>
                        <td class="center">{{ i === 0 ? order.id : '' }}</td>
                        <td class="center">{{ i === 0 ? order.date : '' }}</td>
                        <td>{{items.product}}</td>
                        <td class="center">{{items.qty}}</td>
                        <td class="right">{{items.price | currency }}</td>
                    </tr>
                }
                <tr class="order-total">
                    <td colspan="5" style="text-align: right; font-weight: bold;">Order Total</td>
                    <td style="font-weight: bold;" class="right">{{ order.total | currency }}</td>
                </tr>
            }   
        </tbody>
    </table>
</div>

<div class="reports-container">
    <div class="button-group">
        <button class="btn-primary">Print Report</button>
        <button class="btn-back" (click)="back()">Back</button>
    </div>
</div>


